:root {
  --heading-font-family: "Mulish", sans-serif;
  --default-font-family: "Playfair Display", serif;
}

body {
  font-family: var(--heading-font-family);
  --primary-color: #f7e8f6;
  --secondary-color: #90e0ab;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}

.hp-hero {
  background: var(--primary-color);
  text-align: center;
  padding: 80px 20px;
}

.hp-hero h1 {
  line-height: 2;
  font-size: 48px;
  font-family: var(--default-font-family);
}

.hp-hero p {
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hp-hero h2 {
  font-family: var(--heading-font-family);
  font-size: 25px;
}

h1 {
  font-family: var(--default-font-family);
  line-height: 1.5;
  font-size: 48px;
}

h2,
h3,
h4 {
  font-family: var(--default-font-family);
  font-weight: 350;
  color: black;
}

h4 {
  font-size: 48px;
}
p,
.personal {
  font-family: var(--heading-font-family);
  font-size: 18px;
  line-height: 25px;
}

.main-btn {
  background: var(--secondary-color);
  color: white;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;

  text-decoration: none;
}

.project-btn {
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 30px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;

  text-decoration: none;
}

.personal,
.project-descrption {
  padding: 120px 60px;
}

.works {
  font-family: var(--heading-font-family);
  font-size: 18px;
  text-align: center;
  margin: 0;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--primary-color);
  padding: 25px 120px;
  border-radius: 15px;
}

footer .media-links a {
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: 50%;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 15px;
  margin: 0 20px;
}

footer .media-links a:hover {
  color: var(--secondary-color);
  background: white;
  transition: all 100ms ease-in-out;
}

footer .email-link {
  font-size: 25px;
  font-family: var(--heading-font-family);
  color: black;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.social-handle {
  text-decoration: none;
}
.social-handle:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

nav {
  padding: 20px 0;
}

.logo {
  max-height: 48px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font: var(--default-font-family);
  font-size: 18px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
    line-height: 56px;
  }
  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 30px;
    text-align: left;
  }

  .main-btn {
    display: inline-block;
    margin: 0 20px;
    padding: 15px 10px;
    border-radius: 4;
  }

  .project-btn {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  .contact-box {
    padding: 20px 80px;
  }

  .media-links {
    margin: 5px 4px;
  }
}
